<% provide(:title, 'About Us') %>
<div class="block" style="width: 100%; height: 75px"></div>

  <h1>運営会社</h1>
	<p>会社名   株式会社フェイマス</p>
	<p>設立年月日   2010年11月10日</p>
	<p>資本金   9900万円</p>
	<p>所在地   名古屋市中区丸の内三丁目18番22号 (フェイマス丸の内ビル3F)</p>
	<p>電話 (052) 953 - 5100 (代表)</p>
	<p>FAX (052) 953 - 8300</p>
	<p>URL   http://www.famous-g.co.jp/</p>


  <div class="modal-wrapper"><div id="contentPopup" class="modal"></div></div>
  <div class="modal-wrapper"><div id="subContentPopup" class="modal" style="position: absolute"></div></div>

  <div class="modal-wrapper">
    <div id="ajaxloading" class="modal" style="display:none;">
      <img src="/assets/ajax_loader.gif">
    </div>
  </div>
